@using ASP.WEBUI.Models;
@model OpIndexModel

@*OPERATOR GİRİŞ SAYFASI*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randevu Filtreleme Ekranı</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            line-height: 2.5;
        }

        .main-container {
            display: flex;
            max-width: 100%;
            margin: 0;
        }

        .filter-section {
            background-color: #fff;
            border: 1px solid #d4d4d4;
            border-radius: 8px;
            padding: 10px;
            margin-right: 0px; 
            flex: 1;
        }

        .filter-options input,
        .filter-options select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        .buttons-section {
            display: flex;
            gap: 10px;
        }

        .button {
            flex: 1;
            padding: 15px; 
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
        }

        .button-blue {
            background-color: #007bff;
            color: #fff;
        }

        .results-section {
            background-color: #fff;
            border: 1px solid #d4d4d4;
            border-radius: 8px;
            padding: 500px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            position: relative;
        }

        .top-buttons {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background-color: #fff;
            z-index: 1;
            padding: 10px;
        }

            .top-buttons .btn {
                margin-left: 5px;
            }

        .pb-3,
        .py-3 {
            padding-bottom: 5rem !important;
        }

        .btn {
            font-weight: lighter;
            font-size: 2rem;
        }

        .filter-options label {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="main-container">
        <div class="filter-section">
            <form asp-controller="Operator" asp-action="Index" method="post">
            <div class="filter-options">
                    <label for="machineName">Makine Adı:</label>
                    <select id="machineName" name="machineName">
                        @*      @foreach (var machineName in ViewBag.MachineNames)
                        {
                        <option value="@machineName">@machineName</option>
                        }*@
                    </select>

               <label for="ProjectName">Proje Adı:</label>
                    <input type="text" id="projectName" name="projectName">

                <label for="partName">Parça Adı:</label>
                <input type="text" id="partName" name="partName">

                <label for="RecipeCode">Reçete Kodu:</label>
                <input type="text" id="recipeCode" name="recipeCode">

                <label for="StartDate">Başlangıç Tarihi:</label>
                <input type="date" id="startDate" name="startDate">

                    <label for="EndDate">Bitiş Tarihi:</label>
                <input type="date" id="endDate" name="endDate">

                <label for="StartTime">Başlangıç Saati:</label>
                <input type="time" id="startTime" name="startTime">

                <label for="EndTime">Bitiş Saati:</label>
                <input type="time" id="endTime" name="endTime">
            </div>
            <div class="buttons-section">
                <button type="button" class="btn btn-outline-primary">Randevu Ara</button>
            </div>
            </form>
        </div>
        <div class="results-section">
            <div class="top-buttons">
                <button type="button" class="btn btn-outline-secondary">Bilgi Getir</button>
                <button type="button" class="btn btn-outline-success" onclick="redirectTo('@Url.Action("ViewMachineInfo", "Operator")')">Makine İşlemleri</button>
                <button type="button" class="btn btn-outline-warning" onclick="redirectTo('@Url.Action("ManageReservation", "Operator")')">Randevu İşlemleri</button>
                <button type="button" class="btn btn-outline-danger">Temizle</button>
            </div>

            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Makine Adı</th>
                            <th>Proje Adı</th>
                            <th>Parça Adı</th>
                            <th>Proje Kodu</th>
                            <th>Başlangıç Tarih</th>
                            <th>Bitiş Tarih</th>
                            <th>Başlangıç Saat</th>
                            <th>Bitiş Saat</th>
                            <!-- Diğer sütun başlıkları buraya eklenmeli -->
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Results != null && Model.Results.Any())
                        {
                            foreach (var result in Model.Results)
                            {
                                <tr>
                                    <td>@result.machineName</td>
                                    <td>@result.projectName</td>
                                    <td>@result.partName</td>
                                    <td>@result.recipeCode</td>
                                    <td>@result.startDate.ToString("yyyy-MM-dd")</td>
                                    <td>@result.endDate.ToString("yyyy-MM-dd")</td>
                                    <td>@result.startTime.ToString("HH:mm")</td>
                                    <td>@result.endTime.ToString("HH:mm")</td>

                                    <!-- Diğer sütun değerleri buraya eklenmeli -->
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">Sonuç bulunamadı.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
                function redirectTo(url) {
            window.location.href = url;
        }
        function filterAppointments() {
            // Seçilen filtrelerle ilgili veri çekme ve görüntüleme mantığını burada uygulayın
        }
    </script>
</body>

</html>