@using ACR.Business.Models;
@model OpReservationFilterModelDTO
@{
	ViewData["Title"] = "ManageReservation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="~/css/opmanagereservation.css" rel="stylesheet" />
</head>

<body>
	<div class="main-container">
		<div class="filter-section">
			<form asp-controller="Operator" asp-action="ManageReservation" method="post">
				<div class="filter-options">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<a href=@Url.Action("Index","Operator")>
							<span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 24px;"></span>
						</a>
					</div>
					<label><strong>Makine Adı:</strong></label>
					<select asp-for="MachineName" class="form-control" placeholder="Makine Seçimi">
						<option value="" selected disabled>Seçiniz</option>
						@if (Model.MachineNames != null)
						{
							foreach (var item in Model.MachineNames)
							{
								<option>@item.MachineName</option>
							}
						}
					</select>

					<label for="projectName">Proje Adı:</label>
					<input asp-for="ProjectName" value="@Model.ProjectName" type="text" class="form-control" />

					<label for="partName">Parça Adı:</label>
					<input asp-for="PartName" value="@Model.PartName" type="text" class="form-control" />

					<label for="recipeCode">Reçete Kodu:</label>
					<input asp-for="RecipeCode" value="@Model.RecipeCode" type="text" class="form-control" />

					<label for="startDate">Başlangıç Tarihi:</label>
					<input asp-for="StartDate" value="@Model.StartDate" type="datetime-local" class="form-control" />

					<label for="endDate">Bitiş Tarihi:</label>
					<input asp-for="EndDate" value="@Model.EndDate" type="datetime-local" class="form-control" />
				</div>
				<div class="buttons-section">
					<button type="submit" class="btn btn-outline-primary">Randevu Ara</button>
				</div>
			</form>

		</div>
		<div class="results-section">
			<div class="top-buttons">
				<button type="button" class="btn btn-outline-secondary">Bilgi Getir</button>
				<button type="button" class="btn btn-outline-success" onclick="#">Randevu Onay</button>
				<button type="button" class="btn btn-outline-danger" onclick="#">Randevu İptal</button>
				<button type="button" class="btn btn-outline-warning" onclick="#">Temizle</button>
			</div>
		</div>
	</div>
	<div class="table">
		<table class="table">
			<thead>
				<tr>
					<th>Makine Adı</th>
					<th>Proje Adı</th>
					<th>Parça Adı</th>
					<th>Reçete Kodu</th>
					<th>Başlangıç Tarihi</th>
					<th>Bitiş Tarihi</th>
					<th>Talep Eden Notu</th>
					<th>Talep Eden</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var result in Model.Results)
				{
					<tr>
						<td>@result.MachineName</td>
						<td>@result.ProjectName</td>
						<td>@result.PartName</td>
						<td>@result.RecipeCode</td>
						<td>@result.StartDate.ToString("yyyy-MM-dd HH:mm")</td>
						<td>@result.EndDate.ToString("yyyy-MM-dd HH:mm")</td>
						<td>@result.RequestNote</td>
						@*			<td>@result.Requester.Name @result.Requester.Surname</td>*@
					</tr>
				}
			</tbody>
		</table>
	</div>
	<script>
		function redirectTo(url) {
			window.location.href = url;
		}
	</script>
</body>

</html>