@using ACR.Business.Models;
@model OpMachineFilterModelDTO
@{
	ViewData["Title"] = "ViewMachineInfo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="~/css/viewmachineinfo.css" rel="stylesheet" />
</head>

<body>
	<div class="main-container">
		<div class="filter-section">
			<form asp-controller="Operator" asp-action="ViewMachineInfo" method="post">
				<div class="filter-options">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<a href=@Url.Action("Index","Operator")>
							<span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 24px;"></span>
						</a>
					</div>
					<label for="machineName">Makine Adı:</label>
					<select asp-for="MachineName" class="form-control" placeholder=" Seçimi">
						<option value="" selected disabled>Seçiniz</option>
						@if (Model.MachineNames != null)
						{
							foreach (var item in Model.MachineNames)
							{
								<option>@item.MachineName</option>
							}
						}
					</select>

					<label for="machineStatu">Makine Durumu:</label>
					<select asp-for="MachineStatu" class="form-control" placeholder="Makine Durumu Seçimi">
						<option value="" selected disabled>Seçiniz</option>
						<option value="Aktif">AKTİF</option>
						<option value="Pasif">PASİF</option>
					</select>

					<label for="ItemNo">Item No :</label>
					<input asp-for="ItemNo" value="@Model.ItemNo" class="form-control" placeholder="Item No giriniz." />

					<label for="Tc">TC:</label>
					<input asp-for="Tc" value="@Model.Tc" class="form-control" placeholder="TC değerini giriniz." />

					<label for="Vp">VP:</label>
					<input asp-for="Vp" value="@Model.Vp" class="form-control" placeholder="VP değerini giriniz." />

					<label for="StartDate">Bakım Başlangıç Tarihi:</label>
					<input asp-for="StartDate" value="@Model.StartDate" type="datetime-local" class="form-control" />

					<label for="EndDate">Bakım Bitiş Tarihi:</label>
					<input asp-for="EndDate" value="@Model.EndDate" type="datetime-local" class="form-control" />
				</div>
				<div class="buttons-section">
					<button type="submit" class="btn btn-outline-primary">Makine Ara</button>
				</div>
			</form>

		</div>
		<div class="results-section">
			<div class="top-buttons">
				<button type="button" class="btn btn-outline-secondary">Bilgi Getir</button>
				<button type="button" class="btn btn-outline-success" onclick="redirectTo('@Url.Action("AddNewMachine","Operator")')">Makine Ekle</button>
				<button type="button" class="btn btn-outline-primary" onclick="redirectTo('@Url.Action("EditMachineInfo", "Operator")')">Makine Düzenle</button>
				<button type="button" class="btn btn-outline-danger" onclick="#">Makine Sil </button>
				<button type="button" class="btn btn-outline-warning" onclick="clearFilters()">Temizle</button>
			</div>
			<div class="table-container">
				<table class="table">
					<thead>
						<tr>
							<th>Makine Adı</th>
							<th>Makine Durumu</th>
							<th>Item No</th>
							<th>Tc Numarası</th>
							<th>Vp Numarası</th>
							<th>Başlangıç Tarihi</th>
							<th>Bitiş Tarihi</th>
							<th>Operator Notu</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var result in Model.Results)
						{
							<tr>
								<td>@result.MachineName</td>
								<td>@result.MachineStatus</td>
								<td>@result.ItemNo</td>
								<td>@result.TcNumber</td>
							    <td>@result.StartDate.Value.ToString("yyyy-MM-dd HH:mm")</td>
								<td>@result.EndDate.Value.ToString("yyyy-MM-dd HH:mm")</td>
								<td>@result.OperatorNote</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<div>
			</div>
		</div>
	
	</div>

	<script>
		function redirectTo(url) {
			window.location.href = url;
		}
		function clearFilters() {
			document.getElementById('machineName').value = '';
			document.getElementById('machineStatu').value = '';
			document.getElementById('itemNo').value = '';
			document.getElementById('tc').value = '';
			document.getElementById('vp').value = '';
		}

	</script>
</body>

</html>