@using ACR.Business.Models;
@model AdViewUserModelDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid">
	<h1 class="mt-4">Kontrol Paneli</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item active">Kontrol Paneli</li>
	</ol>
	<div class="row">
		<div class="col-xl-3 col-md-6">
			<div class="card bg-primary text-white mb-4">
				<div class="card-body">İstatislik Bilgileri</div>
				<div class="card-footer d-flex align-items-center justify-content-between">
					<a class="small text-white stretched-link" href="@Url.Action("Statistics","Admin")">Detayları Görüntüle</a>
					<div class="small text-white"><i class="fas fa-angle-right"></i></div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6">
			<div class="card bg-warning text-white mb-4">
				<div class="card-body">Kullanıcı Bilgileri</div>
				<div class="card-footer d-flex align-items-center justify-content-between">
					<a class="small text-white stretched-link" href="@Url.Action("Users","Admin")">Detayları Görüntüle</a>
					<div class="small text-white"><i class="fas fa-angle-right"></i></div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6">
			<div class="card bg-success text-white mb-4">
				<div class="card-body">Rezervasyon Bilgileri</div>
				<div class="card-footer d-flex align-items-center justify-content-between">
					<a class="small text-white stretched-link" href="@Url.Action("Reservations","Admin")">Detayları Görüntüle</a>
					<div class="small text-white"><i class="fas fa-angle-right"></i></div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-md-6">
			<div class="card bg-danger text-white mb-4">
				<div class="card-body">Makine Bilgileri</div>
				<div class="card-footer d-flex align-items-center justify-content-between">
					<a class="small text-white stretched-link" href="@Url.Action("Machines","Admin")">Detayları Görüntüle</a>
					<div class="small text-white"><i class="fas fa-angle-right"></i></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-6">
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-chart-area mr-1"></i>
					Alan Grafiği Örneği
				</div>
				<div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
			</div>
		</div>
		<div class="col-xl-6">
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-chart-bar mr-1"></i>
					Çubuk Grafik Örneği
				</div>
				<div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-header">
			<i class="fas fa-table mr-1"></i>
			Kullanıcı Bilgi Tablosu
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>isim</th>
							<th>Soyisim</th>
							<th>Mail Adresi</th>
							<th>Telefon Numarası</th>
							<th>Çalışan Rolü</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>isim</th>
							<th>Soyisim</th>
							<th>Mail Adresi</th>
							<th>Telefon Numarası</th>
							<th>Çalışan Rolü</th>
						</tr>
					</tfoot>
					<tbody>
						@foreach (var result in Model.Results)
						{
							<tr>
								<td>@result.Name</td>
								<td>@result.Surname</td>
								<td>@result.MailAdress</td>
								<td>@result.PhoneNumber</td>
								<td>
									@if (result.RoleId == 1)
									{
										<span>Operatör</span>
									}
									else if (result.RoleId == 2)
									{
										<span>Üretim Mühendisi</span>
									}
								</td>
							
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
