@using ACR.Business.Models;
@model AdMachineFilterModelDTO
@{
	ViewData["Title"] = "ViewMachineInfo";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="~/css/viewmachineinfo.css" rel="stylesheet" />
</head>
<body>
	<div class="main-container">
		<div class="filter-section">
			<form asp-controller="Admin" asp-action="ViewMachineInfo" method="post">
				<div class="filter-options">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<a href=@Url.Action("Index","Admin")>
							<span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 24px;"></span>
						</a>
					</div>
					<label for="machineName">Tezgah Adı:</label>
					<select asp-for="MachineName" class="form-control" placeholder=" Seçimi">
						<option value="" selected disabled>Seçiniz</option>
						@if (Model.MachineNames != null)
						{
							foreach (var item in Model.MachineNames)
							{
								<option>@item.MachineName</option>
							}
						}
					</select>

					<label for="machineStatu">Tezgah Durumu:</label>
					<select asp-for="MachineStatu" class="form-control" placeholder="Tezgah Durumu Seçimi">
						<option value="" selected disabled>Seçiniz</option>
						<option value="Aktif">AKTİF</option>
						<option value="Pasif">PASİF</option>
					</select>

					<label for="ItemNo">Item No :</label>
					<input asp-for="ItemNo" value="@Model.ItemNo" class="form-control" placeholder="Item No giriniz." />

					<label for="Tc">TC:</label>
					<input asp-for="Tc" value="@Model.Tc" class="form-control" placeholder="TC değerini giriniz." />

					<label for="Vp">VP:</label>
					<input asp-for="Vp" value="@Model.Vp" class="form-control" placeholder="VP değerini giriniz." />

					<label for="StartDate">Bakım Başlangıç Tarihi:</label>
					<input asp-for="StartDate" value="@Model.StartDate" type="datetime-local" class="form-control" />

					<label for="EndDate">Bakım Bitiş Tarihi:</label>
					<input asp-for="EndDate" value="@Model.EndDate" type="datetime-local" class="form-control" />
				</div>
				<div class="buttons-section">
					<button type="submit" class="btn btn-outline-primary">Tezgah Ara</button>
				</div>
			</form>

		</div>
		<div class="results-section">
			<div class="top-buttons">
				<button type="button" class="btn btn-outline-secondary" onclick="redirectTo('@Url.Action("GetAllMachines","Admin")')">Bilgi Getir</button>
				<button type="button" class="btn btn-outline-success" onclick="redirectTo('@Url.Action("AddNewMachine","Admin")')">Tezgah Ekle</button>
				<form action="@Url.Action("EditMachineInfo", "Admin")" method="get">
					<input asp-for="Id" value="@Model.Id" type="hidden" />
					<button type="submit" class="btn btn-outline-primary" id="editButton">Tezgah Düzenle</button>
				</form>
				<form action="@Url.Action("DeleteMachine", "Admin")" method="get">
					<input asp-for="Id" value="@Model.Id" type="hidden" />
					<button type="submit" class="btn btn-outline-danger" id="deleteButton">Tezgah Sil</button>
				</form>

				<button type="button" class="btn btn-outline-warning" id=clearButton>Temizle</button>
			</div>
			<table class="table table-hover table-fixed" style="width:1100px;">
				<thead>
					<tr>
						<th>#</th>
						<th>Tezgah Adı</th>
						<th>Tezgah Durumu</th>
						<th>Item No</th>
						<th>Tc Numarası</th>
						<th>Vp Numarası</th>
						<th>Başlangıç Tarihi</th>
						<th>Bitiş Tarihi</th>
						<th>Operator Notu</th>
					</tr>
				</thead>
				<tbody>

					@foreach (var result in Model.Results)
					{
						<tr>
							<td><input type="checkbox" name="selectedMachineId" value="@result.Id" /></td>
							<td>@result.MachineName</td>
							<td>@result.MachineStatus</td>
							<td>@result.ItemNo</td>
							<td>@result.TcNumber</td>
							<td>@result.VpNumber</td>
							@*							<td>@result.StartDate.Value.ToString("yyyy-MM-dd HH:mm")</td>
						<td>@result.EndDate.Value.ToString("yyyy-MM-dd HH:mm")</td>*@
							<td>@result.OperatorNote</td>
						</tr>
					}
				</tbody>
			</table>
			<div>
			</div>
		</div>

	</div>

	<script src="~/js/opviewmachine.js"></script>
</body>

</html>