@using ACR.Business.Models;
@model ReCreateReservationModelDTO
@{
	ViewData["Title"] = "CreateReservation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	@*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="~/css/createreservation.css" rel="stylesheet" />
	<script src="~/js/createreservation.js"></script>
</head>

<body>

	<div class="container reservation-form">

		<div class="d-flex justify-content-between align-items-center mb-3">
			<a href=@Url.Action("Index","Requester")>
				<span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 24px;"></span>
			</a>
		</div>
		<form asp-controller="Requester" asp-action="CreateReservation" method="post">
			<div class="form-group">
				<label><strong>Makine Adı:</strong></label>
				<select asp-for="MachineName" class="form-control" placeholder="Makine Seçimi">
					<option value="" selected disabled>Seçiniz</option>
					@if (Model.MachineNames != null)
					{
						foreach (var item in Model.MachineNames)
						{
							<option>@item.MachineName</option>
						}
					}
				</select>
			</div>

			<div class="form-group">
				<label class="form-label" for="projectName">Proje Adı:</label>
				<input asp-for="ProjectName" value="@Model.ProjectName" type="text" class="form-control" />

				<span class="required-note">*zorunlu alan</span>
			</div>

			<div class="form-group">
				<label class="form-label" for="recipeCode">Reçete Kodu:</label>
				<input asp-for="RecipeCode" value="@Model.RecipeCode" type="text" class="form-control" />
				<span class="required-note">*zorunlu alan</span>
			</div>

			<div class="form-group">
				<label class="form-label" for="partName">Parça Adı:</label>
				<input asp-for="PartName" value="@Model.PartName" type="text" class="form-control" />
			</div>

			<div class="form-group">
				<label class="form-label" for="requestNote">Talep Eden Notu:</label>
				<input asp-for="RequestNote" value="@Model.RequestNote" type="text" class="form-control" />
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="form-label" for="startDate">Başlangıç Saati:</label>
					<input asp-for="StartDate" value="@Model.StartDate" type="datetime-local" class="form-control" />
				</div>

				<div class="form-group col-md-6">
					<label class="form-label" for="endTime">Bitiş Saati:</label>
					<input asp-for="EndDate" value="@Model.EndDate" type="datetime-local" class="form-control" />
				</div>
			</div>

			<div class="text-right">
				<button type="submit" class="btn btn-outline-primary">Randevu Al</button>
			</div>
		</form>
	</div>
</body>
