@using ASP.WEBUI.Models;
@model ReIndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randevu Filtreleme Ekranı</title>
	<link href="~/css/reindex.css" rel="stylesheet" />
</head>

<body>
    <div class="main-container">
        <div class="filter-section">
        
            <div class="filter-options">
                <label for="machineName">Makine Adı:</label>
                <select id="machineName">
                    @*       @foreach (var machineName in ViewBag.MachineNames)
                    {
                    <option value="@machineName">@machineName</option>
                    }*@
                </select>

                <label for="projectName">Proje Adı:</label>
                <input type="text" id="projectName">

                <label for="partName">Parça Adı:</label>
                <input type="text" id="partName">

                <label for="recipeCode">Reçete Kodu:</label>
                <input type="text" id="recipeCode">

                <label for="startDate">Başlangıç Tarihi:</label>
                <input type="date" id="startDate">

                <label for="endDate">Bitiş Tarihi:</label>
                <input type="date" id="endDate">

                <label for="startTime">Başlangıç Saati:</label>
                <input type="time" id="startTime">

                <label for="endTime">Bitiş Saati:</label>
                <input type="time" id="endTime">
            </div>
            <div class="buttons-section">
                <button type="button" class="btn btn-outline-primary" onclick="filterAppointments()">Randevu Ara</button>
            </div>
        </div>
 @*       randevu başarılı oluşturulduğunda uyarı mesajını göster*@
        @if (ViewBag.SuccessMessageOne != null)
        {
            <div class="alert alert-success">
                @ViewBag.SuccessMessageOne
            </div>
        }
        @if (ViewBag.SuccessMessageTwo != null)
        {
            <div class="alert alert-success">
                @ViewBag.SuccessMessageTwo
            </div>
        }

        <div class="results-section">
            <div class="top-buttons">
                <button type="button" class="btn btn-outline-secondary">Bilgi Getir</button> 
                <button type="button" class="btn btn-outline-success" onclick="redirectTo('@Url.Action("ManageReservation","Requester")')">Randevu Güncelle</button>
                <button type="button" class="btn btn-outline-primary" onclick="redirectTo('@Url.Action("CreateReservation", "Requester")')">Randevu Al</button>
                <button type="button" class="btn btn-outline-warning">Temizle</button>
                <button type="button" class="btn btn-outline-danger">Randevu İptal Et</button>
            </div>
            <div>

            </div>
        </div>
    </div>

    <script>
    
        function redirectTo(url) {
            window.location.href = url;
        }
        function filterAppointments() {
            // Seçilen filtrelerle ilgili veri çekme ve görüntüleme mantığını burada uygulayın
        }
    </script>
</body>

</html>