@using ACR.Business.Models;
@using ACR.Entity.Concrete;
@model ReIndexModelDTO

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Randevu Filtreleme Ekranı</title>
	<link href="~/css/reindex.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
	body {
		margin: 0;
		padding: 0;
	}

	.table-container {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-x: auto;
	}

	.table {
		width: 180%;
		color: #212529;
		text-align: left;
		margin-left: -40%;
		margin-top: -29%;
	}
</style>
<body>
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success" role="alert">
			@TempData["SuccessMessage"]
		</div>
	}
	@if (TempData["WarningMessage"] != null)
	{
		<div class="alert alert-warning" role="alert">
			@TempData["WarningMessage"]
		</div>
	}


	<div class="main-container">
		<form asp-controller="Requester" asp-action="Index" method="post">
			<div class="filter-section">
				<div class="filter-options">
					<label><strong>Tezgah Adı:</strong></label>
					<select asp-for="MachineName" class="form-control" placeholder="Tezgah Seçimi">
						<option value="" selected disabled>Seçiniz</option>
						@{
							List<Machine> machineList = null;
							if (Model.MachineNames != null && Model.MachineNames.Any())
							{
								machineList = Model.MachineNames?.ToList();
							}

							@if (machineList != null)
							{
								foreach (var item in machineList)
								{
									<option>@item.MachineName</option>
								}
							}
						}

					</select>

					<label for="projectName">Proje Adı:</label>
					<input asp-for="ProjectName" value="@Model.ProjectName" type="text" class="form-control" />

					<label for="partName">Parça Adı:</label>
					<input asp-for="PartName" value="@Model.PartName" type="text" class="form-control" />

					<label for="recipeCode">Reçete Kodu:</label>
					<input asp-for="RecipeCode" value="@Model.RecipeCode" type="text" class="form-control" />

					<label for="startDate">Başlangıç Tarihi:</label>
					<input asp-for="StartDate" value="@Model.StartDate" type="datetime-local" class="form-control" />

					<label for="endDate">Bitiş Tarihi:</label>
					<input asp-for="EndDate" value="@Model.EndDate" type="datetime-local" class="form-control" />
				</div>
				<div class="buttons-section">
					<button type="submit" class="btn btn-outline-primary">Randevu Ara</button>
				</div>
			</div>
		</form>
		<div class="results-section">
			<div class="top-buttons">
				<button type="button" class="btn btn-outline-secondary" onclick="redirectTo('@Url.Action("GetAllReservations","Requester")')">Bilgi Getir</button>

				<form id="manageReservationForm" asp-controller="Requester" asp-action="ManageReservation" method="get">
					<button type="button" class="btn btn-outline-success" onclick="submitFormWithSelectedReservation()">Randevu Güncelle</button>
					<input type="hidden" id="selectedReservationId" name="id" value="" />
				</form>

				<button type="button" class="btn btn-outline-primary" onclick="redirectTo('@Url.Action("CreateReservation", "Requester")')">Randevu Al</button>

				<form id="cancelReservationForm" asp-controller="Requester" asp-action="ReCanceledReservation" method="get">
					<button type="button" class="btn btn-outline-danger" onclick="submitFormForCancellation()">Randevu İptal</button>
					<input type="hidden" id="cancelReservationId" name="id" value="" />
				</form>
				<button type="button" class="btn btn-outline-warning" id="clearButton">Temizle</button>
			</div>
			<!--Table-->
			<table class="table table-hover table-fixed">
				<thead>
					<tr>
						<th>#</th>
						<th>Rezervasyon Durumu</th>
						<th>Son Güncelleme</th>
						<th>Tezgah Adı</th>
						<th>Proje Adı</th>
						<th>Parça Adı</th>
						<th>Reçete Kodu</th>
						<th>Başlangıç Tarihi</th>
						<th>Bitiş Tarihi</th>
						<th>Talep Eden Randevu Notu:</th>
						<th>Randevu İptal Notu:</th>
						<th>Onaylayan Operator</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var result in Model.Results)
					{
						<tr>
							<td><input type="checkbox" name="selectedReservation" value="@result.Id" /></td>
							<td>
								@if (result.Status != null)
								{
									if (@result.Status == ReservationStatusType.Pending)
									{
										<span class="badge badge-primary">Beklemede</span>
									}
									else if (@result.Status == ReservationStatusType.Confirmed)
									{
										<span class="badge badge-success">Onaylandı</span>
									}
									else if (@result.Status == ReservationStatusType.Cancelled)
									{
										<span class="badge badge-danger">İptal Edildi</span>
									}
									else
									{
										<span class="badge badge-warning">Geçersiz Durum</span>
									}
								}

							</td>
							<td>@result.UpdateDate</td>
							<td>@result.MachineName</td>
							<td>@result.ProjectName</td>
							<td>@result.PartName</td>
							<td>@result.RecipeCode</td>
							<td>@result.StartDate.ToString("dd-MM-yyyy HH:mm")</td>
							<td>@result.EndDate.ToString("dd-MM-yyyy HH:mm")</td>
							<td>@result.RequestNote</td>
							<td>@result.CancellationNote</td>
							<td>@result.Operator?.Name @result.Operator?.Surname</td>

						</tr>
					}
				</tbody>
			</table>

			<div>
			</div>
		</div>
	</div>
	<script src="~/js/reindex.js"></script>
	<script>
		function submitFormForCancellation() {
			var selectedReservation = document.querySelector('input[name="selectedReservation"]:checked');

			if (!selectedReservation) {
				alert("Lütfen bir randevu seçin.");
				return;
			}
			var reservationId = selectedReservation.value;

			var form = document.getElementById('cancelReservationForm');
			form.action = '/Requester/ReCanceledReservation';

			var hiddenInput = document.getElementById('cancelReservationId');
			hiddenInput.value = reservationId;

			form.submit();
		}
	</script>
</body>

</html>