@model ACR.Entity.Concrete.Reservation
@{
	ViewData["Title"] = "ReCanceledReservation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
	@*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="~/css/remanagereservation.css" rel="stylesheet" />
</head>


<body>

	<div class="container reservation-form">


		<div class="d-flex justify-content-between align-items-center mb-3">
			<a href=@Url.Action("Index","Requester")>
				<span class="glyphicon glyphicon-circle-arrow-left" style="font-size: 24px;"></span>
			</a>
		</div>
		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-success" role="alert">
				@TempData["SuccessMessage"]
			</div>
		}
		<form asp-controller="Requester" asp-action="ReCanceledReservation" method="post">
			<input asp-for="Id" value="@Model.Id" type="hidden" />
			<div class="form-row">
				<div class="form-group col-md-6">
					<label><strong>Makine Adı:</strong></label>
					<input type="text" class="form-control" id="machineName" name="machineName" value="@Model.MachineName" readonly>

				</div>

				<div class="form-group col-md-6">
					<label class="form-label" for="projectName">Proje Adı:</label>
					<input type="text" class="form-control" id="projectName" name="projectName" value="@Model.ProjectName" readonly>

				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="form-label" for="recipeCode">Reçete Kodu:</label>
					<input type="text" class="form-control" id="recipeCode" name="recipeCode" value="@Model.RecipeCode" readonly>

				</div>

				<div class="form-group col-md-6">
					<label class="form-label" for="partName">Parça Adı:</label>
					<input type="text" class="form-control" id="partName" name="partName" value="@Model.PartName" readonly>

				</div>
			</div>

			<div class="form-group">
				<label class="form-label" for="requestNote">Randevu Notu:</label>
				<textarea class="form-control" id="requestNote" name="requestNote" readonly>@Model.RequestNote </textarea >
					
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label class="form-label" for="startDate">Rezervasyon Başlangıç Tarihi:</label>
					<input type="datetime-local" class="form-control" id="startDate" name="startDate" value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")" readonly />

				</div>
				<div class="form-group col-md-6">
					<label class="form-label" for="endDate">Rezervasyon Bitiş Tarihi:</label>
					<input type="datetime-local" class="form-control" id="endDate" name="endDate" value="@Model.EndDate.ToString("yyyy-MM-ddTHH:mm")" readonly />

				</div>
			</div>

			<div class="text-right">
				<button type="submit" class="btn btn-outline-danger">Randevu İptal</button>
			</div>
		</form>
	</div>
</body>
