<!doctype html>
<html lang="tr">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="~/LayoutNew/fonts/icomoon/style.css">

	<link rel="stylesheet" href="~/LayoutNew/css/owl.carousel.min.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/LayoutNew/css/bootstrap.min.css">

	<!-- Style -->
	<link rel="stylesheet" href="~/LayoutNew/css/style.css">

	<title>Anasayfa</title>

	<style>
		.hero {
			background-color: black; /* Arka plan rengini siyah yap */
			height: 500px; /* Yükseklik ayarla */
			background-size: cover; /* Resim varsa alanı doldur */
			background-position: center; /* Resmi ortala */
			color: white; /* Metin rengini beyaz yap */
		}

		body {
			background-color: black; /* Arka plan rengini siyah yap */
			color: white; /* Metin rengini beyaz yap */
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;
			background-size: cover; /* Resmin alanı doldurması için */
			background-position: center; /* Resmi ortala */
			background-repeat: no-repeat; /* Tekrar etmemesi için */
			background-attachment: scroll; /* Hareketli arka plan */
		}
	</style>
</head>
<body>


	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close mt-3">
				<span class="icon-close2 js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div> <!-- .site-mobile-menu -->
	<!-- NAVBAR -->
	<header class="site-navbar mt-3">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="site-logo col-6"><a href="#">OTOKLAV REZERVASYON SİSTEMİ</a></div>

				@if (ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index")
				{
					<nav class="mx-auto site-navigation">
						<ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
							<li class="d-lg-none"><a href="@Url.Action("UserRegister", "User")"><span class="mr-2">+</span>Kayıt Ol</a></li>
							<li class="d-lg-none"><a href="@Url.Action("UserLogin", "User")">PERSONEL GİRİŞ</a></li>
							<li class="d-lg-none"><a href="@Url.Action("AdminLogin", "Admin")">YÖNETİCİ GİRİŞ</a></li>

						</ul>
					</nav>

					<div class="right-cta-menu text-right d-flex aligin-items-center col-6">
						<div class="ml-auto">
							<a href="@Url.Action("UserRegister", "User")" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Kayıt Ol</a>
							<a href="@Url.Action("UserLogin", "User")" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Personel Giriş</a>
							<a href="@Url.Action("AdminLogin", "Admin")" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Yönetici Giriş</a>

						</div>
						<a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
					</div>
				}
			</div>
		</div>
	</header>


	<div class="hero" style="background-image: url('img/tusas-tr.png');"></div>
	<div class="row">
		<div class="col-md-12">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</div>
	<script src="~/LayoutNew/js/jquery-3.3.1.min.js"></script>
	<script src="~/LayoutNew/js/popper.min.js"></script>
	<script src="~/LayoutNew/js/bootstrap.min.js"></script>
	<script src="~/LayoutNew/js/jquery.sticky.js"></script>
	<script src="~/LayoutNew/js/main.js"></script>


	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>